@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
}

section {
    background-color: blueviolet;
    height: 500px;
    width: 400px;
    margin: 30px auto 30px auto;

}

header {
    background-color: blue;
    height: 90px;
    width: 350px;
    padding: 10px;
    margin: auto;
}

div#bola {
    background-image: url('sections/img1.png');
    background-size: 100% 100%;
    border-radius: 30px;

    position: absolute;
    height: 70px;
    width: 70px;

    left: 10%;
    top: 5%;
}

main {
    background-color: aqua;
    height: 300px;
    width: 350px;
    padding: 10px;
    margin: auto;
}

